graft libero_plus/libero_plus/bddl_files
graft libero_plus/libero_plus/init_files
graft libero_plus/libero_plus/assets
recursive-include libero_plus *.json *.yaml *.yml *.txt
global-exclude __pycache__
global-exclude *.py[cod]
